.containerAnuncio {
  text-align: center;
}

nav {
  background: var(--color1);
  padding: 0.1px 40px;
}


h1 {
  color: var(--color1);
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
}

.categorias{
  text-align: center;
}

.categoriasDisponiveis{
  padding-top: 10%;
}
.contact {
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.form {
  margin-left: 20%;
}

.form h2 {
  margin-left: -22%;
}

option {
  font-size: larger;
}

h4 {
  text-decoration: underline;
}
.contactForm {
  width: 60%;
  padding: 40px;
  background: var(--background);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(209, 56, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  margin-top: 50px;
}

.modalForm {
  width: 100%;
  margin-top: 0px;
}

.formModal{
  margin-top: 8%;
}

.contactForm h2 {
  font-size: 35px;
  color: var(--color1);
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
}

.contactForm .inputBox {
  position: relative;
  width: 75%;
  margin-top: 10px;
}

.modalForm .inputBox {
  width: 100%;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputModal{
  margin-left: -10%;
}

.textareaStyle {
  height: 90px;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: var(--color1);
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 50%;
  background: var(--color1);
  border-radius: 5px;
  color: var(--background);
  border: 1px solid var(--color1);
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10%;
  margin-top: 8%;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.contactForm .inputBox input[type="submit"]:hover {
  background: var(--color);
}

input[type=file]::-webkit-file-upload-button { 
  width: 40%;
  background: var(--color1);
  border-radius: 5px;
  color: var(--background);
  border: none;
  cursor: pointer;
  padding: 9px;
  font-size: clamp(0.1em, 3.5vw, 0.9em);
  margin: 8% 3%;
}

input[type=file]::-webkit-file-upload-button:hover { 
  background: var(--color);
}

h3{
  font-size: clamp(0.1em, 3.5vw, 1.5em);
  color: var(--color1);
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 7%;
}

.seusAnuncios{
  text-align: center;
  margin-bottom: 5%;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .container-contact {
    flex-direction: column;
  }

  .contact .contactInfo {
    margin-bottom: 40px;
  }

  .contact .contactInfo,
  .contactForm {
    width: 100%;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
