@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background);

  }
  
  .form {
    margin-left: 20%;
  }
  
  .logo{
    width: 20%;
    height: 20%;
  }

    
  img{
    min-width: 0.1em;
    width: 8em;
  }
  
  
  .contactForm {
    width: 60%;
    padding: 40px;
    background: var(--background);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px var(--roxoVinhoEscuro);
    -webkit-filter: drop-shadow(0 6px 20px var(--transparente));
    filter: drop-shadow(0 6px 20px var(--transparente));
    margin-top: 50px;
  }
  
  .contactForm h2 {
    font-size: clamp(0.3em, 3.5vw, 1.8em);
    color: var(--color1);
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
  }
  
  .contactForm .inputBox {
    position: relative;
    width: 75%;
    margin-top: 10px;
  }
  
  .contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: clamp(0.3em, 3.5vw, 1.1em);
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .textareaStyle {
    height: 90px;
  }
  
  .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: clamp(0.3em, 3.5vw, 1.1em);
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span
  
  {
    color: var(--color1);
    font-size: clamp(0.1em, 3.5vw, 0.8em);
    transform: translateY(-20px);
    font-family: 'Rajdhani', sans-serif;
  }
  
  .contactForm .inputBox input[type="submit"] {
    width: 50%;
    background:  var(--color1);
    border-radius: 5px;
    color: var(--background);
    border: none;
    cursor: pointer;
    padding: 3px;
    font-size: clamp(0.3em, 3.5vw, 1.2em);
    margin-bottom: 10%;
  }


  .contactForm .inputBox input[type="submit"]:hover{
    background:  var(--color);
  }
  
  .divCadastrar{
    display: grid;
  }
  .linkCadastrar{
    color: var(--color1);
    font-size: clamp(0.3em, 3.5vw, 1.3em);
    font-family: 'Rajdhani';
    margin-bottom: 5%;
    margin-right: 25%;
    text-decoration: underline;
  }

  .linkCadastrar:hover{
    color: var(--color);
  }

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container-contact {
        flex-direction: column;
    }

    .contact .contactInfo {
        margin-bottom: 40px;
    }

    .contact .contactInfo, .contactForm {
        width: 100%;
    }
    .linkCadastrar{
        margin-top: 0.5rem;

        /* width: 19.4rem; */
        width: 60%;
        
        margin-left: 8%;
    }
}