@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: var(--background);
}

.contactForm {
    width: 60%;
    padding: 40px;
    background: var(--background);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(209, 56, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    margin-top: 50px;
}

.form{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.formDireita{
    margin-left: 5%;
}

.contactForm h2 {
    font-size: clamp(0.7em, 3.5vw, 2.2em);
    color: var(--color1);
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 3%;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: clamp(0.5em, 3.5vw, 1.0em);
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

input[type=checkbox]{ 
    cursor: pointer;
}

label{ 
    cursor: pointer;
    font-size: clamp(0.2em, 3.5vw, 1.0em);
}

.textareaStyle {
    height: 90px;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: clamp(0.1em, 3.5vw, 1.0em);
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span

 {
    color: var(--color1);
    font-size: clamp(0.1em, 3.5vw, 0.7em);
    transform: translateY(-20px);
    font-family: 'Rajdhani', sans-serif;
}

.contactForm .inputBox input[type="submit"] {
    width: 50%;
    background: var(--color1);
    border-radius: 5px;
    color: var(--background);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: clamp(0.5em, 3.5vw, 1.2em);
    margin-top: 5%;
}

input[type=file]::-webkit-file-upload-button { 
    width: 40%;
    background: var(--color1);
    border-radius: 5px;
    color: var(--background);
    border: none;
    cursor: pointer;
    padding: 9px;
    font-size: clamp(0.1em, 3.5vw, 0.9em);
    margin: 8% 3%;
}

input[type=file]::-webkit-file-upload-button:hover { 
    background: var(--color);
}

h3{
    font-size: clamp(0.1em, 3.5vw, 1.5em);
    color: var(--color1);
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 7%;
}

.tipoPres{
    margin-top: 4%;
    margin-bottom: 2%;
}

.eletro{
    margin-right: 8%;
}

.pintor{
    margin-right: 6%;
}

.marceneiro{
    margin-right: 5%;
}

.eletricista{
    margin-left: 5%;
}

.pedreiro{
    margin-right: 2%;
}

.encanador{
    margin-left: 10%;
}



@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container-contact {
        flex-direction: column;
    }

    .contact .contactInfo {
        margin-bottom: 40px;
    }

    .contact .contactInfo, .contactForm {
        width: 100%;
    }
}