button#primary {
	background-color: var(--color1);
	border: 1px solid #231E39;
	border-radius: 3px;
	color: #FFF;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
    cursor: pointer;
}

#primary a { 
	text-decoration: none;
}

#primary a:hover { 
	text-decoration: none;
}

button#primary:hover {
	background-color: transparent;
}